@model WebApp.Models.UserDetails

@{
    ViewData["Title"] = "UserLogin";
}

<h2>UserLogin</h2>

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["UserLoginFailed"] != null)
        {
            <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>

        }
        <form asp-action="UserLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Emplid" class="control-label"></label>
                <input asp-for="Emplid" class="form-control" />
                <span asp-validation-for="Emplid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
                <a asp-action="RegisterUser" class="btn btn-info">SingUp</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserLogin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
